@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: #15294B;
  --color-green-step: #EAF1E2;
  --color-neutral-90: #8993A4;
  --color-neutral-85: #a8b2c3;
  --color-neutral-80: #F1F4F9;
}
